#random key: openssl rand -base64 32
DB_BACKUP_KEY=OHVpHhQ5z0ke5HCulYXecBXBeA1Q4G1Wm7h6CSXIofI=

# Stack prefix (used for naming)
STACK_PREFIX=RSWW_12345

# Database connection
DB_HOST=db
DB_PORT=3306
DB_NAME=prestashop
DB_USER=root
DB_PASSWORD=dev

# Shop domain
SHOP_DOMAIN=shop.pg.wojtecs.com

# # Copy .env
# cp .env.example .env

# # Deploy
# docker stack deploy -c compose.swarm.db.yaml ${STACK_PREFIX}_db
# docker stack deploy -c compose.swarm.dev.yaml ${STACK_PREFIX}
