@charset "UTF-8";

.BannerImage_banner__2KHoU {
    order: 11 !important
}

@media (min-width:768px) {
    .BannerImage_banner__2KHoU {
        order: 21 !important
    }
}

.BannerImage_image__SczdB {
    clip-path: polygon(39px 0, 100% 0, 100% 100%, 0 100%)
}

.slick-slider {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list,
.slick-slider {
    position: relative;
    display: block
}

.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: none
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-list,
.slick-slider .slick-track {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0)
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.slick-track:after,
.slick-track:before {
    display: table;
    content: ""
}

.slick-track:after {
    clear: both
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px
}

[dir=rtl] .slick-slide {
    float: right
}

.slick-slide img {
    display: block
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.slick-arrow.slick-hidden {
    display: none
}

.slick-loading .slick-list {
    background: #fff url(/_next/static/media/ajax-loader.0b80f665.gif) 50% no-repeat
}

@font-face {
    font-family: slick;
    font-weight: 400;
    font-style: normal;
    src: url(/_next/static/media/slick.25572f22.eot);
    src: url(/_next/static/media/slick.25572f22.eot?#iefix) format("embedded-opentype"), url(/_next/static/media/slick.653a4cbb.woff) format("woff"), url(/_next/static/media/slick.6aa1ee46.ttf) format("truetype"), url(/_next/static/media/slick.f895cfdf.svg#slick) format("svg")
}

.slick-next,
.slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    border: none
}

.slick-next,
.slick-next:focus,
.slick-next:hover,
.slick-prev,
.slick-prev:focus,
.slick-prev:hover {
    color: transparent;
    outline: none;
    background: transparent
}

.slick-next:focus:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-prev:hover:before {
    opacity: 1
}

.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
    opacity: .25
}

.slick-next:before,
.slick-prev:before {
    font-family: slick;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.slick-prev {
    left: -25px
}

[dir=rtl] .slick-prev {
    right: -25px;
    left: auto
}

.slick-prev:before {
    content: "←"
}

[dir=rtl] .slick-prev:before {
    content: "→"
}

.slick-next {
    right: -25px
}

[dir=rtl] .slick-next {
    right: auto;
    left: -25px
}

.slick-next:before {
    content: "→"
}

[dir=rtl] .slick-next:before {
    content: "←"
}

.slick-dotted.slick-slider {
    margin-bottom: 30px
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center
}

.slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 0
}

.slick-dots li,
.slick-dots li button {
    width: 20px;
    height: 20px;
    cursor: pointer
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    padding: 5px;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent
}

.slick-dots li button:focus,
.slick-dots li button:hover {
    outline: none
}

.slick-dots li button:focus:before,
.slick-dots li button:hover:before {
    opacity: 1
}

.slick-dots li button:before {
    font-family: slick;
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: "•";
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black
}

.CompactPageTeaser_container__rMWih {
    --mobileImageMinHeight: 250px;
    --desktopMaxContainerHeight: 204px;
    --desktopContentWidth: 500px;
    --mobileCutDepth: 9;
    --mobileCutHeight: calc(100vw / 5.62);
    --mobileContentPadding: 16px;
    --triangleWidth: 80px;

    @media (min-width:768px) {
        --imageWidth: 400px
    }

    @media (min-width:1024px) {
        --imageWidth: 500px
    }

    @media (min-width:1280px) {
        --imageWidth: 600px
    }
}

@media (min-width:768px) {
    .CompactPageTeaser_innerContainer__z11xd {
        height: var(--desktopMaxContainerHeight)
    }
}

.CompactPageTeaser_contentSection__X7a9g {
    @media (min-width:640px) {
        &:before {
            content: "";
            position: absolute;
            top: calc(var(--mobileCutHeight) * -1);
            left: 0;
            width: 100%;
            height: var(--mobileCutHeight);
            clip-path: polygon(0 0, 100% calc(100% - var(--mobileCutDepth) * 1%), 100% 100%, 0 100%);
            background-color: inherit;
            margin-top: 1px
        }
    }

    @media (min-width:768px) {
        height: inherit;
        width: calc(100% - var(--imageWidth));

        &:after {
            position: absolute;
            content: "";
            clip-path: polygon(0 0, 100% 0, 1px 100%, 0 100%);
            width: var(--triangleWidth);
            height: 100%;
            background-color: inherit;
            top: 0;
            right: calc(var(--triangleWidth) * -1);
            z-index: 2
        }
    }
}

.CompactPageTeaser_titleWrapper__Jaoc_ {
    @media (max-width:767px) {
        max-width: calc(100% - calc(var(--mobileContentPadding) * 2))
    }
}

.CompactPageTeaser_imageWrapper__iOyRo {
    position: relative;

    @media (max-width:767px) {
        &:after {
            content: "";
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            height: var(--mobileCutHeight);
            clip-path: polygon(0 0, 100% calc(100% - var(--mobileCutDepth) * 1%), 100% 100%, 0 100%);
            background-color: inherit;
            margin-top: 1px
        }
    }

    @media (min-width:768px) {
        &:before {
            position: absolute;
            content: "";
            clip-path: polygon(0 0, 100% 0, 1px 100%, 0 100%);
            width: var(--triangleWidth);
            height: 100%;
            background-color: inherit;
            top: -1px;
            left: 0;
            z-index: 2
        }
    }
}

.PageTeaser_container___lPp9 {
    --mobileImageMinHeight: 240px;
    --desktopMaxContainerHeight: 400px;
    --desktopContentWidth: 400px;
    --mobileCutDepth: 9;
    --mobileCutHeight: calc(100vw / 5.62);
    --mobileContentPadding: 16px;
    overflow: hidden;
    position: relative
}

@media (min-width:768px) {
    .PageTeaser_innerContainer__HRU_X {
        height: var(--desktopMaxContainerHeight)
    }

    .PageTeaser_contentSection___15Hr {
        height: inherit;

        &:after {
            position: absolute;
            content: "";
            clip-path: polygon(0 0, 100% 0, 1px 100%, 0 100%);
            width: 130px;
            height: 100%;
            background-color: inherit;
            top: 0;
            left: calc(var(--desktopContentWidth) - 1px);
            z-index: 2
        }
    }
}

.PageTeaser_contentSection___15Hr {
    @media (max-width:767px) {
        &:before {
            content: "";
            position: absolute;
            top: calc(var(--mobileCutHeight) * -1);
            left: 0;
            width: 100%;
            height: var(--mobileCutHeight);
            clip-path: polygon(0 0, 100% calc(100% - var(--mobileCutDepth) * 1%), 100% 100%, 0 100%);
            background-color: inherit;
            margin-top: 1px
        }
    }
}

.PageTeaser_titleWrapper__uthEv {
    @media (max-width:767px) {
        max-width: calc(100% - calc(var(--mobileContentPadding) * 2))
    }
}

.PageTeaser_imageWrapper__coJ1u {
    min-height: var(--mobileImageMinHeight);
    position: relative;

    @media (min-width:768px) {
        position: absolute;
        height: inherit;
        z-index: 2;
        width: calc(100% - var(--desktopContentWidth))
    }
}

.ToastContainer_container__wr7zm {
    --toastify-toast-top: 0px;
    --toastify-toast-width: 100%;
    --toastify-toast-min-height: 0;
    --toastify-toast-bd-radius: 0;
    --toastify-color-light: none;
    --toastify-color-dark: none;
    --toastify-font-family: theme(fontFamily.ubuntu);

    @media screen and (min-width:theme(screens.lg)) {
        --toastify-toast-top: 20px;
        --toastify-toast-width: 320px
    }
}

.PromotionCard_trapeziumBottom__rnUz6 {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 39px))
}

.PromotionCard_floatingImage__5_Vnr {
    border-radius: 50%
}

.PromotionCard_backgroundContainer__vV_YB {
    margin: -12px -12px 0;
    width: calc(100% + 24px)
}

@media (min-width:480px) {
    .PromotionCard_backgroundContainer__vV_YB {
        margin: -16px -16px 0;
        width: calc(100% + 32px)
    }
}

.InspirationContentCard_contentCard__YE4xI {
    position: relative;
    container-type: inline-size;
    --triangleHeight: 25px
}

@media screen and (min-width:768px) {
    .InspirationContentCard_contentCard__YE4xI {
        --triangleHeight: 50px
    }

    .InspirationContentCard_chevronButton__98Zcv {
        top: -25px
    }
}

.InspirationContentCard_chevronButton__98Zcv {
    background-color: white;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-left: 12px;
    top: -30px;
    position: absolute;
    right: 12px
}

.InspirationContentCard_titleContainer__TmDDF {
    &:before {
        content: "";
        position: absolute;
        top: calc(var(--triangleHeight) * -1);
        left: 0;
        width: 100%;
        height: var(--triangleHeight);
        clip-path: polygon(0 0, 100% calc(100% - 9 * 1%), 100% 100%, 0 100%);
        background-color: inherit;
        margin-top: 1px
    }
}